@mixin Text-footer-tablet {
    font-family: 'Roboto' sans-serif;
    font-size: 16px;
    line-height: 1.88px;
    text-align: center;
    color: var(--white);
  }
  @mixin Text-footer-mobile {
    font-family: 'Roboto' sans-serif;
    font-size: 14px;
    line-height: 30px;
    text-align: center;
    color: var(--white);
  }
  @mixin Text-footer {
    font-family: 'Roboto' sans-serif;
    font-size: 13px;
    line-height: 25px;
    text-align: center;
    color: var(--white)
  }
  @mixin center {
    display: flex;
    justify-content: center;
    align-items: center;}