@mixin center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin circle {
  width: 45px;
  height: 45px;
  background-color: var(--white);
  border-radius: 50%;
  overflow: hidden;
}

@mixin icon {
  width: 20px;
  height: 12px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin Text-Style-4 {
  font-family: "Roboto", sans-serif;
  font-size: 0.875rem;
  line-height: 2.14;
  color: var(--lightblue);
}
@mixin text-looking {
  font-family: "Roboto Slab", serif;
  color: var(--black);
  font-size: 1.5rem;
  line-height: 1.5rem;
  font-weight: bold;
}

@mixin text-done {
  font-family: "Roboto", sans-serif;
  color: var(--greyish-brown);
  line-height: 1.5rem;
  font-size: 1.12rem;
}
@mixin Text-Style-9 {
  font-family: "Roboto Serif", serif;
  font-size: 20px;
  font-weight: 500;
  text-align: center;
  color: var(--bright-orange);
}
@mixin Text-black-1 {
  font-family: "Roboto Slab", serif;
  font-size: 1.4rem;
  font-weight: bold;
  line-height: 1.25;
  text-align: center;
  color: var(--black);
}

@mixin Text-black-2 {
  font-family: "Roboto Serif", serif;
  font-size: 1.2rem;
  font-weight: bold;
  line-height: 1.67;
  text-align: center;
  color: var(--black);
}

@mixin Text-black-3 {
  font-family: "Roboto Serif", serif;
  font-size: 1.2rem;
  line-height: 1.67;
  text-align: center;
  color: var(--black);
}

@mixin text_white {
  color: var(--white);
  font-family: "Roboto Serif", serif;
  text-align: center;
  line-height: 2.25px;
  font-size: 20px;
  font-weight: 500;
}
@mixin text-medium {
  font-family: "Roboto Serif", serif;
  font-size: 2.5rem;
  line-height: 0.75rem;
  color: var(--greyish-brown);
}
