.footer {
  height: 30rem;
  background-color: var(--dark-grey-blue);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  justify-items: center;
  &__box-section {
    height: max-content;
  }
  li {
    @include Text-footer-mobile;
    text-transform: uppercase;
  }
  a {
    text-decoration: none;
    color: var(--white);
  }
  &__box-rrss {
    height: max-content;
  }
  p {
    color: var(--white);
  }
  span {
    color: var(--bright-orange);
  }
  &__box-copy {
    display: block;
    justify-content: center;
    text-align: center;
  }
}

//MEDIAS//
@media (min-width: 768px) {
  .footer {
    padding: 2rem;
    height: max-content;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    &__box-section {
      order: 2;
    }
    &__box-rrss {
      order: 3;
    }
    &__Box-copy {
      order: 1;
    }
    li,
    p,
    span {
      text-align: left;
    }
  }
}
@media (min-width: 1024px) {
  .footer {
    padding: 2rem 0 0 0;
    height: max-content;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 0, 5rem, 0, 5rem;
    &__box-section {
      order: 2;
      text-align: left;
    }
    &__box-rrss {
      order: 3;
    }
    &__Box-copy {
      order: 1;
    }
    li,
    p,
    span {
      text-align: left;
    }
  }
}

/*.footer {
            flex-direction: row-reverse;
            height: max-content;
            padding: 2rem 0 2rem 0;
            // text-align: right;*/
