
.main {
    padding: 2rem 0 2rem 0;
    span {
    padding: 0.5rem 0 0.5rem 0;}
    height: 18rem;
    background-color: var(--white);
    padding: 0rem 1rem 0rem 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
        .Insomnia {
        @include Text-Style-4;}
        .Looking {
        @include text-looking;}
        .Donec {
        @include text-done;}
        .button {
            width: 75px;
            height: 45px;
            background-color: var(--white);
            border: solid 2px var(--bright-orange);
            border-radius: 25px;
            padding: 0;
            p {
                @include center;
                @include Text-Style-9;
            }
        }
        }
        
        
    
     