<div class="footer">
  <div class="footer__box-section">
    <a name="down" id="down"></a>
    <ul class="footer__box-section__articles">
      <li><a href="https://adalab.es/" target="_blank">articles</a></li>
      <li><a href="https://adalab.es/">books</a></li>
      <li><a href="https://adalab.es/">events</a></li>
      <li><a href="https://adalab.es/">reasons</a></li>
      <li><a href="https://adalab.es/">tips</a></li>
    </ul>
  </div>
  <div class="footer__box-rrss">
    <ul class="rrss">
      <li><a href="https://adalab.es/">twitter</a></li>
      <li><a href="https://adalab.es/">instagram</a></li>
      <li><a href="https://adalab.es/">mastodon.social</a></li>
    </ul>
  </div>
  <div class="footer-components">
    <p>©2017</p>
    <p>we<span class="footer__footer-components__heart">❤︎</span> components</p>
  </div>
</div>
