<div class="footer">
  <div class="footer__box-section">
    <ul class="footer__box-section__articles">
      <li><a href="https://adalab.es/" target="_blank">articles</a></li>
      <li><a href="https://adalab.es/" target="_blank">books</a></li>
      <li><a href="https://adalab.es/" target="_blank">events</a></li>
      <li><a href="https://adalab.es/" target="_blank">reasons</a></li>
      <li><a href="https://adalab.es/" target="_blank">tips</a></li>
    </ul>
  </div>
  <div class="footer__box-rrss">
    <ul class="rrss">
      <li><a href="https://adalab.es/" target="_blank">twitter</a></li>
      <li><a href="https://adalab.es/" target="_blank">instagram</a></li>
      <li><a href="https://adalab.es/" target="_blank">mastodon.social</a></li>
    </ul>
  </div>
  <div class="footer__box-copy">
    <p class="footer__box-copy__components__we-love">©2023</p>
    <p class="footer__box-copy__components__we-love">
      we <span class="footer__box-copy__components__heart">❤︎</span> components
    </p>
  </div>
</div>
