    <div class="footer">
        <div class="box box-section">
        <ul class="section">
            <li>articles</li>
            <li>books</li>
            <li>events</li>
            <li>reasons</li>
            <li>tips</li>
        </div>
        <div class="box box-rrss">
        <ul class="rrss">
            <li>twitter</li>
            <li>instagram</li>
            <li>mastodon.social</li>
        </ul>
        </div>
        <div class= "box footer__components">
            <p>©2017</p>
            <p>we <span class="heart">❤︎</span> components</p>
        </div>
    </div>