<header class="header">
    <nav class="menu">
        <img class="ico-menu" src="../images/ico-menu.svg" alt="ico.menu">
    </nav><a href="#up"></a>
        <div class="box-header"><a href="#up"></a>
            <p class="text1header" >Anonymous Proxy</p>
            <p class="text2header">In hac habitasse platea dictumst.</p>
            <div class="botton-header">
                <a href="#down"><img class="icon" src="../images/ico-scroll-down.svg" alt="icon-scroll-down"></a>
            </div>
        </div>
</header>