<header class="header">
    <nav class="menu">
        <img class="ico-menu" src="../images/ico-menu.svg" alt="ico.menu">
    </nav>
        <div class="box-header">
            <p class="text1header" >Anonymous<br>Proxy</p>
            <p class="tex2header">In hac habitasse platea dictumst.</p>
            <div class="botton-header">
                <img class="icon" src="../images/ico-scroll-down.svg" alt="icon-scroll-down">
                <a href=""></a>
            </div>
        </div>

        
</header>