
<section class="section__main">
    <nav class="section__main__nav">
        <h1 class="section__main__nav__title">3 Reasons To Purchase<a name="down" id="down"></a></h1>
    </nav>
    <div>
    <div class="section__main__Rectangle">
        <div class="section__main__Rectangle__box">
            <h3>Ut sed metus</h3>
            <p>Lorem ipsum dolor sit amet, consecteur.</p>
        </div>
        <div class="section__main__Rectangle__box">
            <h3>Curabitur ac erat</h3>
            <p>Mauris mattis urna quis lorem molestie.</p>
        </div>
        <div class="section__main__Rectangle__box">
            <h3>Morbi dictum</h3>
            <p>Aliquam in dolor et dolor tincidunt.</p>
        </div>
    </div>
        
    <div class="section__main__button_orange">More reasons</div>
    <div class="section__main__container-circle">
        <div class="section__main__container-circle__circle">
            <a href="#up"><img class="section__main__container-circle__circle__icon" src="../images/ico-arrow.svg" alt="icion ico-arrow"></a>
            
        </div>
    </div>
    </div>
</section>