<section class="section__main">
  
    <div id="down" class="section__main__nav">
      <h1 class="section__main__nav__title">3 Reasons To Purchase</h1>
    </div>
    <div class="section__main__Rectangle">
      <div class="section__main__Rectangle__box">
        <h3>Ut sed metus</h3>
        <p>Lorem ipsum dolor sit amet, consecteur.</p>
      </div>
      <div class="section__main__Rectangle__box">
        <h3>Curabitur ac erat</h3>
        <p>Mauris mattis urna quis lorem molestie.</p>
      </div>
      <div class="section__main__Rectangle__box">
        <h3>Morbi dictum</h3>
        <p>Aliquam in dolor et dolor tincidunt.</p>
      </div>
      <div class="section__main__box-btn">
        <button class="section__main__box-btn__btn">More reasons</button>
      </div>
    
    <div class="section__main__container-circle">
      <div class="section__main__container-circle__circle">
        <a href="../up">
          <img
            class="section__main__container-circle__circle__icon"
            src="./images/ico-arrow.svg"
            alt="icon ico-arrow"
        /></a>
      </div>
    </div>
 
</section>
